<html>
  <head>
    <title>Our Things</title>
    <style type="text/css">
    </style>
  </head>
  <body>
    <div align="center">
      <img src="/images/OurThings_200x125.gif" width="200" height="125" alt="Our Things"/>
    </div>
    <%= yield %>
  </body>
</html>
