<html>
  <head>
    <title>Our Things / <%=yield :title%></title>
    <%=stylesheet_link_tag :all%>
  </head>
  <body>
    <div align="left">
      <a href="/laundry"><img src="/images/OurThings_200x125.gif" width="200" height="125" alt="Our Things"/></a>
    </div>
    <%= yield %>
  </body>
</html>
